*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 5vh;
    background-color: coral;
    display: flex;
    justify-content: space-around;
}
ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
button{
    width: 2rem;
}
footer{
    height: 5vh;
    background-color: coral;
}
.hero{
    height: 55vh;
    background-color:cornsilk;
}
.lang-banner{
    height: 35vh;
    background-color:burlywood;
    
}